body {
           background-color:#E5E9EC;  
           background-repeat: no-repeat;  
           background-size: cover;         
           background-attachment: fixed;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }

 h1, h2, h3 {
    color: #7C616C
    }

 p{
    color: #877584
    }

    p2{
      color:black
    }