body {
           background-color:#BBDCE5;  
           background-repeat: no-repeat;  
           background-size: cover;         
           background-attachment: fixed;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }

 h1, h2, h3 {
    color: #CFAB8D
    }

 p1{
    color: #D9C4B0
    }